@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  
  padding: 0;
  box-sizing: border-box;
  background-color: black;
 
  
}


.max-container{
  margin: 0 auto;
  max-width: 1280px;

}

.grotesk{
  font-family: 'Space Grotesk', sans-serif;
}


.jost{
  font-family: 'Jost', sans-serif;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}

.hero__cinematic{
  background: linear-gradient(90deg, #FF9160 33.9%, #E129FF 96.48%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-style: normal;

}


.button__bg{
  background: linear-gradient(127deg, #FF9160 20.11%, #E129FF 96.53%);
}


footer{
  background: linear-gradient(26deg, #FF9160 2.49%, #E129FF 80.35%);
}

.testimonialCard{
  border: 1px solid #000;
}




