@import url("https://fonts.googleapis.com/css2?family=Clash+Grotesk:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica+Now+Display:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  max-width: 1280px;

  
}


.grotesk{
  font-family: Clash Grotesk;
}

.helvetica{
  font-family: Helvetica Now Display;
}

.hero__cinematic{
  background: linear-gradient(90deg, #FF9160 33.9%, #E129FF 96.48%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-style: normal;

}


.button__bg{
  background: linear-gradient(127deg, #FF9160 20.11%, #E129FF 96.53%);
}


footer{
  background: linear-gradient(26deg, #FF9160 2.49%, #E129FF 80.35%);
}

.testimonialCard{
  border: 1px solid #000;
}




